.container {
    background: #20232a;
    border-bottom: 2px solid #62dafb;
}

.sub-container {
    display: flex;
    height: 250px;
}

.poster {
    width: 200px;
    height: 100%;
}

.text {
    margin-left: 30px;
    color: #ffffff;
}