.header {
    background-color: #20232a;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    z-index: 999999999;
    top: 0;
    box-shadow: 3px 3px 6px #ffffff ;
}

.brand-name {
    font-weight: bold;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: #62dafb;
    font-size: 30px;
}

.container-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 12px;
    margin-right: 10px;
}

i {
    color: #ffffff;
}
button {
    background: none;
    border: none;
}

a {
    text-decoration: none;
    color: #62dafb;
}